@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair Display", system-ui;
    ;
    background-color: #FEEFC3 ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #cccec5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    color: #f13a0c;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #606770;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    color: #ffffff;
    border: none;
    border-radius: 61px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5799ee;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
}

.form-footer a {
    color: #1877f2;
    text-decoration: none;
}

.form-footer p {
    margin-top: 10px;
    color: #606770;
}